body{
    background-color: #E5E5E5;
}

.wrapper{
    max-width: 660px;
    margin: 0 auto;
    font-size: 0;
}

.card {
    background-color: #E0E0E0;
    display: inline-block;
    width: 200px;
    box-sizing: border-box;
    padding: 0 2px;
}

.middleCard{
    margin: 0 30px;
}

.firstLineCard{
    margin-bottom: 30px;
}

img{
    display: block;
    margin: 0 auto;
    background-color: aquamarine;
}

p,h2{
    text-align: center;
}

h2{
    margin: 10px 0;
    font-weight: 700;
    font-size: 18px;
    line-height: 22px;
}

p{
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    margin: 0 0 18px;
}

